# API Configuration
API_PORT=8080

# SQL Server Configuration
SQLSERVER_PORT=1433
SQLSERVER_PASSWORD=your_strong_password
SQLSERVER_CONNECTION_STRING=Server=sqlserver,1433;Database=MoneyTransferDb;User Id=sa;Password=your_strong_password;TrustServerCertificate=True;

# MongoDB Configuration
MONGODB_PORT=27017
MONGODB_CONNECTION_STRING=mongodb://mongodb:27017/MoneyTransferDb
